@model VulnerabilitiesApp.Models.AnuntUtilizator

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AnuntUtilizator</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdUtilizator)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUtilizator)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdAnunt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdAnunt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sters)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sters)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
